@import "../../style.scss";

.leftBar {
    @include themify($themes) {
        flex: 1;
        height: calc(100vh - 7rem);
        overflow: scroll;
        &::-webkit-scrollbar {
            display: none;
        };

        background: themed("backgroundColor");
        color: themed("textColor");


        position: sticky;
        top: 6rem;

        font-family: 'Chilanka';


        .container {
            padding: 2rem;

            hr {
                margin: 0.5rem 0;
                border: none;
                height: 0.05rem;

                background-color: themed("textColor");
            }
    

            .menu{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                
                .user{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    margin-bottom: 1rem;


                    img {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;
                        object-fit: cover;

                    }

                    span{

                        font-size: 1.5rem;
                        font-weight: bold;
                        color: themed("textColor");
                    }

                }

                .menuList{
        
                    align-items: center;
                    gap: 1rem;
                    margin-bottom: 2rem;

                    .menuListItem{
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        margin-bottom: 1rem;

                        .Icon{

                            color: themed("textColor");                       
                            
                        }
                        .Text{
                            color: themed("textColor");     
                            font-size: 1rem;                        
                        }
                    }
                }

                .menuTitle {
                    display: flex;
                    align-items: center;
                    margin-top: 1rem;
                    justify-content: center;

                    font-size: 1.5rem;
                    font-weight: bold;
                    color: themed("textColor");


                }

                
            }
        }
    }
}