.register {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #8495b4;
    font-family: 'Cherry Bomb One';
    

    .card {
        display: flex;
        width: 50%;
        height: 70%;
        background-color: #D6F4FF;
        overflow:hidden;

        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);


        .left{
            flex: 1;
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            padding: 50px;
            gap: 50px;
            align-items: center;
            justify-content: center;

            background-color: #223759;
            color: #D6F4FF;

            position: relative;
            left: 0;
            transition: left 1s ease-in-out;

            h1{
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 1rem;
            }
            .regForm {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: center;

                input {
                    width: 100%;
                    background: none;

                    border-radius: 0.5rem;
                    border: none;
                    border-bottom: 1px solid #D6F4FF;

                    padding: 20px 10px;
                    margin-bottom: 1rem;

                    font-size: 1rem;
                    font-weight: bold;
                    color: #D6F4FF;
                }

                button{
                    width: 50%;
                    height: 3rem;

                    border-radius: 0.5rem;
                    border: none;

                    background-color: #6e7c97;
                    color: #fff;

                    font-size: 1rem;
                    font-weight: 700;

                    margin-bottom: 1rem;
                    cursor: pointer;
                }
    
                span{
                    font-size: 1rem;
                    font-weight: 400;
                    margin-bottom: 1rem;
                    color: #D6F4FF;
                }

            }       

        }

        .left.slide {
            left: 60%; /* Slide the right side to the left */
          }

          .left form {
            opacity: 1;
            transition: opacity 0.3s ease-in-out; /* Transition opacity for the form content */
          }
          
          .left.slide form  {
            opacity: 0; /* Fade out the form content when sliding */
          }

        .right {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 50px;
            gap: 1rem;
            align-items: center;

            background-color: #D6F4FF;
            color: #223759;

            
            transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;


            h1{
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 1rem;
                font-size: 100px;
                line-height: 100px;
            }
            p{
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 1rem;
            }
            span{
                font-size: 1.5rem;
                font-weight: 400;
                margin-bottom: 1rem;
                color: #223759;
            }

            button{
                width: 400px;
                height: 3rem;

                border-radius: 0.5rem;
                border: none;

                background-color: #fff;
                color: #223759;

                font-size: 1rem;
                  font-family: 'Cherry Bomb One';
                  
                margin-bottom: 1rem;
                cursor: pointer;
            }

        }

        .right.slide {
            left: -100%;
            opacity: 0;
          }
          
          .right span,
          .right h1 {
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
          }
          
          .right.slide span,
          .right.slide h1 {
            opacity: 0;
          }
    }


}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
