.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #8495b4;
    

    .card {
        display: flex;
        width: 50%;
        height: 70%;
        background-color: #EEFAFB;
        overflow:hidden;

        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);


        .left{
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 50px;
            gap: 1rem;
            align-items: center;

            background-color: #D6F4FF;
            color: #223759;

            h1{
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 1rem;
                font-size: 100px;
                line-height: 100px;
            }
            p{
                font-size: 1rem;
                font-weight: 400;
                margin-bottom: 1rem;
            }
            span{
                font-size: 15px;
                font-weight: 400;
                margin-bottom: 1rem;
                color: #223759;
            }
            button{
                width: 400px;
                height: 3rem;
                border-radius: 0.5rem;
                border: none;
                background-color: #fff;
                color: #223759;
                font-size: 1rem;
                font-weight: bold;
                margin-bottom: 1rem;
                cursor: pointer;
            }

        }
        .right {
            flex: 1;
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            padding: 50px;
            gap: 50px;
            align-items: center;
            justify-content: center;

            background-color: #223759;
            color: #D6F4FF;

            
            h1{
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 1rem;
            }
            form {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                align-items: center;

                input {
                    width: 100%;
                    background: none;

                    border-radius: 0.5rem;
                    border: none;
                    border-bottom: 1px solid #D6F4FF;

                    padding: 20px 10px;
                    margin-bottom: 1rem;

                    font-size: 1rem;
                    font-weight: bold;
                    color: #D6F4FF;
                }

                button{
                    width: 50%;
                    height: 3rem;

                    border-radius: 0.5rem;
                    border: none;

                    background-color: #6e7c97;
                    color: #fff;

                    font-size: 1rem;
                    font-weight: 700;

                    margin-bottom: 1rem;
                    cursor: pointer;
                }
    
                span{
                    font-size: 1rem;
                    font-weight: 400;
                    margin-bottom: 1rem;
                    color: #D6F4FF;
                }

            }

        }
    }
}