$themes: (
    light:(

        textColor: #000,
        transBackgroundColor: rgba(255, 255, 255, 0.7),
        backgroundColour: rgb(255, 255, 255),
        logoColor: #223759,
        backgroundBorderColour: rgba(255, 255, 255, 0.3),
        buttonOne: #92c59a,
        buttonTwo: #89bbd2,
        textInput: #a39f9f,
        buttonDismiss: #d28989,

        ),

    dark:(
        textColor: #a6b8c7,
        transBackgroundColor: rgba(0, 13, 24, 0.9),
        backgroundColour: #272d33,
        logoColor: #a6b8c7,
        backgroundBorderColour: rgba(34, 55, 89, 0.3),
        buttonOne: #141c24,
        buttonTwo: #00060b,
        textInput: #111416,

    )
);

@mixin themify($themes) {
    @each $theme, $map in $themes {
        .theme-#{$theme} & { 
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge(
                    $theme-map, 
                    ($key: $value)
                ) !global;
            }
        
        @content;
        $theme-map: null !global;  
        }       
    }
}

@function themed($key) {
    @return map-get($theme-map, $key);
}