@import "../../style.scss";

.rightBar {
    @include themify($themes) {
        flex: 2;
        height: calc(100vh - 7rem);
        overflow: scroll;
        &::-webkit-scrollbar {
            display: none;
        };


        background: themed("backgroundColor");
        color: themed("textColor");

        position: sticky;
        top: 6rem;


        font-family: 'Chilanka';

        .container {
            padding: 1.5rem;
            

            .item{
                background: themed("backgroundColor");
                -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.89);
                -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.89);
                box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.5);
                border-radius: 1.5rem;


                padding: 1.5rem;
                margin-bottom: 1rem;

                span {
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: themed("textColor"); 
                }

                .user {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 2rem 0;
                    position: relative;
    
            
                    .userInfo {
            
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        margin-bottom: 1rem;
            
            
                        img {
                            width: 2rem;
                            height: 2rem;
                            border-radius: 50%;
                            object-fit: cover;
            
                        }
                        .online {
                            width: 0.75rem;
                            height: 0.75rem;
                            border-radius: 50%;
                            background-color: #068806;
                            position: absolute;
                            top: 0;
                            left: 1.5rem;

                        }
            
                        span{
            
                            font-size: 1rem;
                            font-weight: 500;
                            color: themed("textColor");
                        }
                    }

                    .buttons {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        button {
                            border: none;
                            padding: 0.5rem;
                            color: themed("textColor");
                            cursor: pointer;

                            &:first-child {
                                background-color: themed("buttonOne");
                            }

                            &:last-child{
                                background-color: themed("buttonTwo");
                            }

                        }
                    }
                }
            }
        }     
    }
}